* {
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

nav {
    background: #616161;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 52%;
}

section {
    margin-top: 10%;
    margin-bottom: 15%;
}

img {
    width: 100%;
    height: auto;
}

.header {
    img {
        width: 200px;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 100px;
        box-shadow: 0px 4px 20px rgb(150, 150, 150);
    }
    h1 {
        color: #333;
    }
    .col-6 {
        h1,
        h2 {
            font-weight: 300;
            margin: 0;
        }
    }
    a {
        h2 {
            color: #fff;
        }
    }
    .hidden-lg {
        color: #fff;
    }
}

.mobile_nav {
    a {
        &:nth-of-type(even) {
            float: right;
        }
        h3 {
            margin: 0 2em;
        }
    }
}

.about {
    p {
        font-size: 1.125rem;
    }
}

#projects {
    img {
        max-width: 800px;
        height: auto;
    }
    h2 {
        font-size: 2.5rem;
        background: #616161;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #9bc5c3, #616161);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 20px;
        color: #fff;
    }
    h3 {
        font-size: 2rem;
    }
}

.project_sect {
    margin-bottom: 0;
    margin-top: 10%;
}

.logos {
    img {
        width: 65px;
        vertical-align: middle;
    }
}

@media screen and (min-width:600px) {
    nav {
        height: 15%;
    }
}

@media screen and(min-width:768px) {
    .about {
        p {
            font-size: 1.7rem;
        }
    }
}